@model AgroSup.WebApp.ViewModels.Plants.PlantViewModel

@{
    ViewData["Title"] = "Wybierz rośliny";
}
<!--- Content -->
<div class="row">
    <partial name="_DataMenuPartial" />
    <div class="col-md-10">
        <div class="container-md mx-4">
            <h2 class="text-center">Wybierz rośliny, które uprawiasz</h2>
            <form asp-action="ChoosePlants">
                <button type="submit" class="float-right btn btn-primary">Zapisz</button>

                <table class="table table-hover w-25 ">
                    <thead>
                        <tr>
                            <th scope="col">Roślina</th>
                            <th scope="col">Uprawiam</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.AvailablePlants)
                        {
                            <tr>
                                <td>@item.Text</td>
                                <td>
                                    <input type="checkbox"
                                           name="SelectedPlants"
                                           value="@item.Value"
                                           @if (Model.SelectedPlants.Contains(item.Value)) { <text> checked </text> } />
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </form>
        </div>
        </div>
    </div>
    <!--- End content -->

