@model AgroSup.WebApp.ViewModels.Manages.Treatments.AddTreatmentViewModel
@{
    var options = (IEnumerable<SelectListItem>)@ViewData["operators"];
}
    <tr>
        <td>
            <div class="form-group">
                <select asp-items="@ViewBag.Kinds" asp-for="Name" class="form-control" onchange="showHideInputs.call(this)">
                    <option selected value="none">Wybierz</option>
                </select>
            </div>
        </td>
        <td>
            <div class="form-group date">
                <input asp-for="Date" class="form-control" disabled/>
            </div>
        </td>
        <td>
            <div class="form-group field">
                <select asp-items="@ViewBag.Fields" asp-for="FieldId" class="form-control" disabled>
                    <option selected value="none">Wybierz</option>
                </select>
            </div>
        </td>
        <td>
            <div class="form-group notes">
                <input asp-for="Notes" class="form-control" disabled/>
            </div>
        </td>
        <td>
            <div class="form-group dose">
                <input asp-for="DosePerHa" class="form-control" disabled/>
            </div>
        </td>
        <td>
            <div class="form-group agents">
                <input asp-for="SprayingAgents" class="form-control" disabled/>
            </div>
        </td>
        <td>
            <div class="form-group fertilizer">
                <select asp-items="@ViewBag.Fertilizers" asp-for="FertilizerId" class="form-control" disabled>
                    <option selected value="none">Wybierz</option>
                </select>
            </div>
        </td>
        <td>
            <div class="col-auto align-self-center">
                <button onclick="removeParcel.call(this)" class="btn btn-danger">Usuń</button>
            </div>
        </td>
    </tr>
