@using Microsoft.AspNetCore.Identity
@using AgroSup.Core.Domain
@using AgroSup.Core.Repositories
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUserRepository _IUserRepository



    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            var userId = UserManager.GetUserId(User);
            var user = _IUserRepository.GetById(Guid.Parse(userId)).Result;
            var userManagedYearPlan = user.ManagedYearPlan;

            @if (userManagedYearPlan != null)
            {
                <li class="nav-item">

                    <a class="nav-link" asp-controller="YearPlan" asp-action="YearPlans">Sezon @userManagedYearPlan.StartYear / @userManagedYearPlan.EndYear</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="YearPlan" asp-action="YearPlans">Wybierz plan</a>
                </li>
            }

            <li class="nav-item">
                <a class="nav-link">Zarządzaj</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="YearPlan" asp-action="YearPlans">Dane</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link">Wyloguj</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>
            </li>
        }
    </ul>
