
@{
    ViewData["Title"] = "_DataMenuPartial";
}

<!--- Left menu -->
<div class="col-md-2 mb-4">
    <ul class="nav nav-pills flex-column">
        <li><a class="nav-link font-weight-bold" asp-controller="manages" asp-action="cropplan">Planuj uprawy</a></li>
        <li><a class="nav-link font-weight-bold" asp-controller="manages" asp-action="parcelsummary">Działki</a></li>
        <li><a class="nav-link font-weight-bold" asp-controller="manages" asp-action="fieldsummary">Pola</a></li>
        <li><a class="nav-link font-weight-bold" asp-controller="manages" asp-action="summary">Podsumowanie</a></li>
    </ul>
</div>

