@{
    ViewData["Title"] = "Strona Główna";
}

    <div class="container-fluid mt-5 text-center">
        <div class="container-fluid my-5 text-center">
            <h3> Dane do testowego konta </h3>
            <h4> E-mail: demo@demo.pl</h4>
            <h4> Hasło: Demo123 </h4>
        </div>

        <h2 class='mb-5'>Dzięki nam to będzie prostsze</h2>
        <div class="container">
            <div class="card-deck">
                <div class="card">
                    <i class="fa fa-th-list fa-5x mt-2" aria-hidden="true"></i>
                    <div class="card-body">
                        <h5 class="card-title">Planowanie</h5>
                        <p class="card-text">Wszystko co do tej pory planowałeś, możesz u nas usprawnić. Nie męcz się więcej z ciągłymi pomyłkami. Postaw na profesjonalizm !</p>

                    </div>
                </div>
                <div class="card">
                    <i class="fa fa-home fa-5x mt-2" aria-hidden="true"></i>
                    <div class="card-body">
                        <h5 class="card-title">Dom</h5>
                        <p class="card-text">Przeznacz zaoszczędzony czas tym, którzy na to zasługują.</p>

                    </div>
                </div>
                <div class="card">
                    <i class="far fa-calendar-alt fa-5x mt-2" aria-hidden="true"></i>
                    <div class="card-body">
                        <h5 class="card-title">Dokumentacja</h5>
                        <p class="card-text">Nie obarczaj siebie dodatkowymi obowiązkami zapamiętowania, co i gdzie robiłeś. Dzięki nam możesz to wszystko w prosty sposób zapisać</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
